<!doctype html>
<html>
<head>
    <link rel="stylesheet"
            type="text/css"
            href="style.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
    
    <div class="hero">
        <h1>Interaction Screen</h1>
        <h4>Take any CT Scan and convert it to a 3D printed model</h4>
        <div class="picture">
        <img src="#">
        </div>    
    </div>
    <div class ="flex-parent">
        <div class="scan">
            <div class="img">
            <img src="#">
            </div>
                <h1>Your CT Scan</h1>
            </div>   
        <div class="print">
            <div class="img">
            <img src="#">
            </div>
                <h1>Image Upload/Converter</h1>
        </div>
        
        <div class="dprint">
        <div class="img">
            <img src="#">
            </div>
            <h1>3D Printable Model</h1>
        </div>
    </div>
    <div class="upload">
        <h1><a href=">Upload Here">Upload Here</a></h1>
        </div>
    <div class="testimonial">
        <h1>Doctor Testimonials</h1>
        <h4>"This has made something that has been really expensive and complicated more accessible. And has helped in surgery planning."</h4>
        <h5>-Dr. X</h5>
    </div>
    
   <div class="nav">
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">3D Model Examples</a></li>
        </ul>
    </div>
    
    
    </body>
</html>